@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:ital,wght@0,300;0,400;0,500;1,200;1,300;1,400;1,500&family=Mulish:ital,wght@0,200;0,300;0,400;1,200;1,300&family=Playfair+Display:ital,wght@0,400;0,500;0,600;1,400;1,500&family=Uchen&display=swap');


.titulo{
    height: 4rem;
    width: 100%;
    display: flex;
    position: relative;
}

.titulo h1{
    padding-left: 19%;
    font-size: 4rem;
    color: rgb(0, 236, 253);
    font-family: 'Josefin Slab', serif;

}

#logins{
    display: flex;
    position: absolute;
}

.formLogin{
    width: 350px;
    margin: 50px auto 0;
    font-family: sans-serif;

}

#form1{
    padding-left: 30%;
}

#form2{
    padding-left: 105%;
}

.formLogin fieldset{
    background: #ccc;
}

.formLogin label{
    margin-top: 15px;
    display: block;
    margin-bottom: 5px;
}

#user, #pass, .btn{
    display: block;
    width: 100%;
    box-sizing: border-box;
    padding: 15px;
    font-size: 18px;
    border: none;
}
#user, #pass{
    background: #ddd;
}
#user:focus, #pass:focus{
    background: white;
}

.btn{
    margin-top: 15px;
}
#user{
    margin-bottom: 15px;
}